{% extends 'layout.njk' %}

{% block content %}
  <div class="card">
    <section class="avatar" style="{{ student.avatar_url }}">
    </section>

    <section class="details">
      <h3>Details</h3>
      <div class="item">
        <div>Name</div>
        <div>{{ student.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ student.email }}</div>
      </div>

      <div class="item">
        <div>Age</div>
        <div>{{ student.age }}</div>
      </div>

      <div class="item">
        <div>Birth Day</div>
        <div>{{ student.birth_date }}</div>
      </div>

      <div class="item">
        <div>School Year</div>
        <div>{{ student.school_year }}</div>
      </div>

      <div class="item">
        <div>Weekly workload (Hours)</div>
        <div>
          {{ student.workload }}
        </div>
      </div>

      <a href="/students/{{ student.id }}/edit" class="button">Edit</a>
    </section>
  </div>
{% endblock content %}