{% extends 'layout.njk' %}

{% block content %}
  <div class="card table-container">
    <table width="100%">
      <thead>
        <tr>
          <th>Teacher</th>
          <th>Accompaniment</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span style="background-image: url({{ instructor.avatar_url }})" ></span>
            Julio
          </td>
          <td id="expertises">
            <p>Mathematics</p>
          </td>
          <td><a href="/instructors">ver</a></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}